.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box {
    width: 240px;
    height: 240px;
    border: 20px solid black;
    display: flex;
    flex-wrap: wrap;
}
.small {
    width: 30px;
    height: 30px;
}
#black {
    background-color: black;
}