*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
background-color:rgb(255, 255, 255);
}
.nav{
  background-color:#3d3e3f ;
  height: 150px;
  width: 100%;
display: flex;
 float: left;
/*hua kya name change*/
 }

.body{
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
 position: absolute;
  background-color: #c78b8b;
  height:500px;
  width:50%;
  display: flex;
  
  align-content: center;
  margin: auto;

 

box-shadow: inset 1px 1px 14px 1px #47484A;

}

 img{
 
 position: relative;
margin-left: 960px;
top: 25%;


} 
 h1{
  position: relative;
  top: 25%;
   margin-left: 100px;
   align-content: center;
   display: flex;
   font-size: 45px;
   color: #b9b6b6;
 }

 h2{
   position: relative;
  color:#b9b6b6 ;
  margin-left: 300px;
  font-size: 40px;
  top: 30%;
  
 }
 
#timer{
  font-size: 40px;
  margin-left: 1310px;
  margin-top: 55px;
  position: absolute;
 
} 
.data{
 /* position: relative;*/
  margin: auto; 
}
.question{
  margin-bottom: 3rem;
  font-size: 2rem;
}
.answer1{
  
  padding: 10px;
  display: flex;
 min-height: 60px;
  min-width: 30rem;
  font-size: 1.3rem;
  margin: auto;
  margin-bottom: 0.8rem;
  backdrop-filter: blur(1000px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  color: rgb(5, 0, 0);
  font-weight: 500;
 text-align: justify;
}
.answer1:hover{
  cursor: pointer;
  box-shadow:inset 1px 1px 14px 1px #aeafb3;
  transform: scale(1.03); 
 transform: transform 100ms;
 
}
